*{
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif;
}

.addTask {
  height: 30vh;
  background-color: #61dafb;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


  .List {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 30px;
    flex-direction: column;
  }


.task {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding: 1vw;
  align-items: center;
  margin-bottom: 2%;
 
}

.task h1{
  color: gray;
  font-size: 2.6vw;
}

#Listp{
  color: #00abae;
  font-size: 2.6vw;
  text-align: center;
  margin-top: 1.5%;
}

#ptodo{
  position: absolute;
  top: 2vw;
  font-weight: bolder;
  color: white;
  font-size: 2.4vw;
}

input{
  margin-top: 2vw;
  width: 30vw;
  font-size: 2vw;
  padding: 1vw;

}

#badd{
  margin-top: 2vw;
  width: 12vw;
  margin-left: 1vw;
  color: black;
  padding: 1vw;
  font-size: 1.8vw;
  background-color: rgb(red, green, blue);
}

.task button{
  color: #00abae;
  margin: 1vw;
  font-size: 2vw;
  padding: 0.5vw;
  width: 10vw;
  border: 0;
  background-color: transparent;
}

.buttons{
  display: flex;
}

